# Add any directories, files, or patterns you don't want to be tracked by version control
npm-debug.log
.DS_Store
.*.swp
node_modules/
*~
*.bak
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
nbproject/

Thumbs.db
desktop.ini

*.log
xmlrpc.php
.htaccess
readme.html
sitemap.xml
sitemap.xml.gz

gulpfile.js