@charset "utf-8";


// -----------------------------------------------------------------
// vars & mixin
// -----------------------------------------------------------------
@mixin font( $color: $black, $size: 1.8rem, $lineH: 150%, $weight: normal ) {
  color: $color;
  font-size: $size;
  line-height: $lineH;
  font-weight: $weight;
}


@mixin content($display: block, $width:0, $height:0) {
  content: '';
  display: $display;
  width: $width;
  height: $height;
}

@mixin easing($duration:0s, $easing:ease, $property:all, $delay:0s) {
  transition-duration: $duration;
  transition-timing-function: $easing;
  transition-property: $property;
  transition-delay: $delay;
}


$minW : 1200px;
$maxW : 1500px;
$black : #000;
$white : #fff;



// -----------------------------------------------------------------
// Keyframes
// -----------------------------------------------------------------



// -----------------------------------------------------------------
// Common
// -----------------------------------------------------------------
html,body {
  height:100%;
}

.pc {display: inline-block;}
.sp {display: none;}
